body {
    background-color: rgb(243, 170, 118);
    font-family:sans-serif;
}
h1 {
    text-align: center;
    color: antiquewhite;
    font-size: px;
    text-shadow: 2px 2px 1px rgb(175, 139, 29);
}
#gameboard {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 400px;
    height: 410px;
    padding: 10px;
    border: 5px rgb(73, 21, 14);
    -ms-flex-align: end;
}

p {
    color:blanchedalmond;
    font-size: larger;

}

.cell{
    width: 150px;
    height: 120px;
    border: 5px solid;
    line-height: 120px;
    font-size: 50px;
    cursor: pointer;
    font-family: cursive;
    text-align: center;
}

button {
    background-color: blueviolet;
    color: antiquewhite;
    border-radius: 3px;
    border: 3px blue;
    padding: 10px;
}
.hero {
    height: 100%;
    width:100%;
}
.image {
    margin-left: 5%;
    float: left;
}

.table {
    float: left;
    margin-left: 5%;

}

@media (prefers-color-scheme: dark) {
    body{
        background: #000;
        color: blue;
    }

    #gameboard {
        background-color: black;
        border-color: antiquewhite;
    }

    .cell{
        border-color: blueviolet;
    }

    p {
        color: blueviolet;
    }

    h1 {
        color: blue;
        text-shadow: none;
    }



}